<%- include header %>
<form method="post">
  Title: <br />
  <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
  Content: <br />
  <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
  <input type="submit" value="Save" />
</form>
<%- include footer %>
