<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://kin-n.com">金の炎</a></h3>IT＆Financeの世界へようこそ！</li>
  <li><h3><a href="http://facebook.com/kimen929">Jin Yan</a></h3>My personal facebook page.</li>
</ul>
<%- include footer %>
