<%- include header %>
<form method="post">
  Username: <input type="text" name="name"/><br />
  Password: <input type="password" name="password"/><br />
  Confirm password: <input type="password" name="password-repeat"/><br />
  Email: <input type="email" name="email"/><br />
            <input type="submit" value="注册"/>
</form>
<%- include footer %>
